In [13]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

from api_keys import g_key

In [14]:
#read into cities data into a dataframe, drop first column
df = pd.read_csv('output_data/cities.csv')
df.drop(columns='Unnamed: 0', axis=1, inplace=True)
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Natal,40,BR,1592242354,62,-5.79,-35.21,87.80,10.29
1,Hilo,1,US,1592242585,83,19.73,-155.09,72.00,3.36
2,Bluff,32,NZ,1592242586,90,-46.60,168.33,49.01,9.84
3,Salalah,40,OM,1592242343,94,17.02,54.09,84.20,6.93
4,Mataura,5,NZ,1592242589,90,-46.19,168.86,43.27,3.89

## **Heatmap**

In [15]:
#configure gmaps and set figure layout
gmaps.configure(api_key=g_key)
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'
    }

#assign lat and long from df to a list
locations = df[['Lat', 'Lng']]

#assign humidity to the weights variable
weights = df['Humidity']

#create gmaps figure
fig = gmaps.figure(layout=figure_layout)

#add heatmap to figure
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights, max_intensity=100, dissipating=False, point_radius=3))
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='900px'))

## **Ideal Locations**

In [16]:
#isolate cities w/ a max temp in between 75-90 deg F, wind speed < 10 mph, and 0 cloudiness and create new df
hotel_df = df.loc[(df['Max Temp'] > 75) & (df['Max Temp'] < 90) & (df['Wind Speed'] < 10) & (df['Cloudiness'] == 0)]
hotel_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
86,Loreto,0,MX,1592242766,30,22.27,-101.97,75.13,6.73
120,Porangatu,0,BR,1592242820,33,-13.44,-49.15,87.89,6.93
170,Tiznit Province,0,MA,1592242702,22,29.58,-9.50,80.28,6.87
174,Khāsh,0,IR,1592242898,13,28.22,61.22,80.49,2.55
314,Marsá Maţrūḩ,0,EG,1592243102,69,31.35,27.25,75.20,6.93

In [17]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 86 to 577
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        9 non-null      object
 1   Cloudiness  9 non-null      int64
 2   Country     9 non-null      object
 3   Date        9 non-null      int64
 4   Humidity    9 non-null      int64
 5   Lat         9 non-null      float64
 6   Lng         9 non-null      float64
 7   Max Temp    9 non-null      float64
 8   Wind Speed  9 non-null      float64
dtypes: float64(4), int64(3), object(2)
memory usage: 720.0+ bytes

## **Hotels in Ideal Locations**

In [18]:
#assign lat and long from df to a list
ideal_locations = list(zip(hotel_df['Lat'], hotel_df['Lng']))

#assign base url for google maps api to a variable
base_url = 'https://maps.googleapis.com/maps/api/place/textsearch/json'

#initiate empty list to store hotels
hotels = []

#loop through ideal locations and perform API request
for location in ideal_locations:
    
    #create paramters dictionary to search for hotels based on location within a radius of 5000 m
    params = {'query': 'hotel', 'key': g_key, 'location': f"{location[0]}, {location[1]}", 'radius':5000}
    
    #get response for each location
    response = requests.get(base_url, params=params).json()
    
    #append response to hotels list
    hotels.append(response)

#return hotel names from responses and assign to a list    
hotel_names = [hotels[i]['results'][0]['name'] for i in range(len(hotels))]

#add new column to df for hotel name
hotel_df['Hotel Name'] = hotel_names

C:\Users\Tommy\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
hotel_df = hotel_df[['City', 'Country', 'Lat', 'Lng', 'Hotel Name']]
hotel_df

,City,Country,Lat,Lng,Hotel Name
86,Loreto,MX,22.27,-101.97,Hacienda Hotel & Spa Aguagordita
120,Porangatu,BR,-13.44,-49.15,Lagoa Hotel Porangatu
170,Tiznit Province,MA,29.58,-9.50,Hotel kerdous
174,Khāsh,IR,28.22,61.22,خوابگاه دانشجویی خاش
314,Marsá Maţrūḩ,EG,31.35,27.25,Carols Beau Rivage Hotel - فندق كارولز بوريفاج
361,São João do Piauí,BR,-8.36,-42.25,Nayra Palace Hotel
403,Praia,CV,14.92,-23.51,Hotel Oasis Atlantico Praiamar
491,Urgut,UZ,39.40,67.24,SAFAR ali HOTEL
577,Fuerte Olimpo,PY,-21.04,-57.87,Hotel AA

In [20]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 86 to 577
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        9 non-null      object
 1   Country     9 non-null      object
 2   Lat         9 non-null      float64
 3   Lng         9 non-null      float64
 4   Hotel Name  9 non-null      object
dtypes: float64(2), object(3)
memory usage: 432.0+ bytes

## **Heatmap w/ Hotel Locations**

In [21]:
# create template for info box
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

#assign locations from df to a variable
hotel_locations = hotel_df[["Lat", "Lng"]]

#add markers for hotels to gmap, with info box showing hotel name, city, and country
marker_layer = gmaps.marker_layer(hotel_locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='900px'))